jenkins_home
db_data
# Except the ansible directory and its contents
!jenkins_home/ansible/
!jenkins_home/ansible/**
jenkins-ansible/.cache
/ansible_web/conf1

/jenkins-home/*
!/jenkins-home/*/
/jenkins-home/jenkins_backup
/jenkins-home/jobs
/jenkins-home/logs
/jenkins-home/war
/jenkins-home/plugins
/jenkins-home/secrets
/jenkins-home/updates
/jenkins-home/userContent
/jenkins-home/users
/jenkins-home/.java
/jenkins-home/.ssh
/jenkins-home/.cache
/jenkins-home/workspace
/jenkins-home/fingerprints
